.weather-widget * {
    margin: 0;
    padding: 0;
}

.weather-widget {
    font-family: sans-serif;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #2d66d1;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: #24488d 0 4px 0;
    min-width: 300px;
    box-sizing: border-box;
    padding: 25px 15px;
    font-size: 16px;
}

.weather-widget>div {
    position: relative;
    margin-bottom: 20px;
}

.weather-widget>div:last-child {
    margin-bottom: 0;
}

.weather-widget>div::after {
    position: absolute;
    display: block;
    content: '';
    background-color: #ffffff55;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -10px;
}

.weather-widget>div:last-child::after {
    display: none;
}

.weather-widget>.weather-widget-place {
    font-size: 2.5em;
    text-align: center;
}

.weather-widget>.weather-widget-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.weather-widget>.weather-widget-main>.weather-widget-main-temp {
    font-size: 3.5em;
}

.weather-widget>.weather-widget-main>.weather-widget-main-type {
    text-align: center;
}

.weather-widget>.weather-widget-main>.weather-widget-main-type i {
    font-size: 2em;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
}

.weather-widget>.weather-widget-main>.weather-widget-main-type.sunny i::before {
    content: '\f185';
    color: #e1ff5c;
}

.weather-widget>.weather-widget-main>.weather-widget-main-type.sunny p::before {
    content: 'Sunny';
}

.weather-widget>.weather-widget-main>.weather-widget-main-type.cloud-sun i::before {
    content: '\f6c4';
    color: #d7dbdf;
}

.weather-widget>.weather-widget-main>.weather-widget-main-type.cloud-sun p::before {
    content: 'Part cloudy';
}

.weather-widget>.weather-widget-main>.weather-widget-main-type.cloud i::before {
    content: '\f0c2';
    color: #abaeb9;
}

.weather-widget>.weather-widget-main>.weather-widget-main-type.cloud p::before {
    content: 'Cloudy';
}

.weather-widget>.weather-widget-main>.weather-widget-main-type.rain i::before {
    content: '\f73d';
    color: #abaeb9;
}

.weather-widget>.weather-widget-main>.weather-widget-main-type.rain p::before {
    content: 'Rain';
}

.weather-widget>.weather-widget-details {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.weather-widget>.weather-widget-details h4 {
    margin-bottom: 5px;
}


/* PRELOADER */

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    overflow: hidden;
    animation-delay: 1s;
}

.preloader-item-1 {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    background-color: #eed968;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50%,
    75% {
        transform: scale(2.5);
    }

    78%,
    100% {
        opacity: 0;
    }
}

.preloader-item-1:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eed968;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 200ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.preloader-item-2 {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    background-color: #eece68;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50%,
    75% {
        transform: scale(2.5);
    }

    78%,
    100% {
        opacity: 0;
    }
}

.preloader-item-2:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eece68;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 400ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.preloader-item-3 {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    background-color: #eec368;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50%,
    75% {
        transform: scale(2.5);
    }

    78%,
    100% {
        opacity: 0;
    }
}

.preloader-item-3:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eec368;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 600ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.preloader-item-4 {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    background-color: #eead68;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50%,
    75% {
        transform: scale(2.5);
    }

    78%,
    100% {
        opacity: 0;
    }
}

.preloader-item-4:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eead68;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 800ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.preloader-item-5 {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    background-color: #ee8c68;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50%,
    75% {
        transform: scale(2.5);
    }

    78%,
    100% {
        opacity: 0;
    }
}

.preloader-item-5:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ee8c68;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 1000ms;
    transition: 0.5s all ease;
    transform: scale(1);
}